@{
    Layout = "default";
    Title = "FsBlog";
    Description = "A blog aware static site generator in mostly F#";
}

<header class="main-header no-cover">
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="@Model.Root">Home</a>
        @*<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>*@
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">@Model.SiteTitle</h1>
            <h2 class="page-description">@Model.SiteSubtitle</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
  @foreach (var post in Model.Posts)
  {
    <article class="post">

        <header class="post-header">
            <h1 class="post-title"><a href="@Model.Root/blog/@post.Url/index.html">@post.Title</a></h1>
        </header>
        <section class="post-excerpt">
            <p>@post.Abstract <a class="read-more" href="@Model.Root/blog/@post.Url/index.html">&raquo;</a></p>
        </section>
        <footer class="post-meta">
            on @String.Join(",", post.Tags)
            <time class="post-date" datetime="@post.Date.ToString("yyyy-MM-dd")">@post.Date.ToString("dd MMMM yyyy")</time>
        </footer>
      </article>
  }
</main>
